<div class="main-container">

    <div class="logo">
        <img src="http://icons.iconarchive.com/icons/froyoshark/enkel/256/Contacts-icon.png" alt="logo-image" class="main-image">
    </div>

      <mat-vertical-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup_FULLNAME">
          <form  enctype="application/json" [formGroup]="firstFormGroup_FULLNAME">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Sr." formControlName="title" required>
              </mat-form-field>
            <mat-form-field>
              <mat-label>First ame</mat-label>
              <input matInput placeholder="Ex. Bruce" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Ex. Wayne" formControlName="lastname" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
    
        <mat-step [stepControl]="secondFormGroup_CONTACT_INFO">
            <form enctype="application/json"  [formGroup]="secondFormGroup_CONTACT_INFO">
              <ng-template matStepLabel>Fill out your contact information</ng-template>
              <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" placeholder="Ex. 054 9 11 69671352"
                       required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cell</mat-label>
                <input matInput formControlName="cell" placeholder="Ex. 054 9 11 612377892"
                       required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. user@example.com"
                       required>
              </mat-form-field>
              
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup_ADDRESS">
            <form enctype="application/json"  [formGroup]="thirdFormGroup_ADDRESS">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" placeholder="Ex. Argentina"
                       required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="Ex. Buenos Aires"
                       required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Street name</mat-label>
                <input matInput formControlName="streetName" placeholder="Ex. Presidente Derqui"
                       required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Street number</mat-label>
                <input matInput formControlName="streetNumber" placeholder="Ex. 2024"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious > Back</button>
            <button mat-button (click)="createUser()">Send</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

</div>
