/* ---------------------------------------------------------------------------- */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424242;
}
.logo{
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color: #424242;
}
.main-image{
  width: 300px;
  height: 300px;
}




/* ---------------------------------------------------------------------------- */

table {
    width: 90%;
   
}
.title-table {
  font-size: large;
  font-weight: 500;
}

.create-contact {
  display: flex;
  justify-content: flex-end;
  background-color: #424242;
}

#new-button {
  align-self: flex-end;
  margin-right: 7%;
  width: 11%;
  height: 40px;
  background-color: gold;
  text-decoration : none;
  font-size: larger;
}

#input-id{
  padding: 2%;
  padding-right: 5%;
}
.mat-form-field {
    font-size: 20px;
    width: 90%;
    background-color: rgb(66, 66, 66);
    font-size: larger;
    border-radius: 2%;
}

#filter {
    margin-top: 2%;
    color: #ffffff;

}


/* input color class */
::ng-deep input.mat-input-element {
    color: #484a4c;
    caret-color: #f3e527 ;
  }
  
  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #f1e20f !important;
    
  }
  
  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #f3e527 !important;
    
  }


  /* ------------------ EXPANDABLE ROWS - ANGULAR MATERIAL -------------------------- */

  .user-detail {
    overflow: hidden;
    display: flex;
  }
  
  .user-description {
    padding: 16px;
    display: flex;
    flex-direction: row;
    min-width: 50%;

  }

  .profile-image{
    border-radius: 50%;
  }

  .description{
    margin-left: 5%;
    font-weight: 500;
    font-size: large;
  }

  .detail-row {
    height: 0;
  }
  
  .user-description-attribution {
    opacity: 0.5;
  }

  tr.element-row:not(.example-expanded-row):hover {
    background: #b0b5bb;
  }
  
  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 3;
  }